.header-top {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.header-botoom {
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(75, 48, 44);
    transition: all .8s ease-in-out;

}

.header-bottom-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.header-bottom-nav a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 0;
    color: aliceblue;
}

.header-bottom-nav ul li {
    /* padding: 12px 4px; */
    margin: 0px 15px;
}

.header-bottom-nav ul li a:hover {
    color: rgba(15, 10, 32, 0.788);
}

.header-top-right {
    margin: 10px 5px;
}


.links {
    display: flex;
    justify-content: end;
}

.linke,
.face {
    color: black;
    margin: 10px 5px;
    scale: 1.2;
}

.address {
    text-decoration: none;
    color: black;
}

.mail-icon {
    scale: 1.4;
    margin: 0 8px;
}

.header-bottom-nav {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.308);
    padding: 25px;
    backdrop-filter: blur(10px);
    transition: all .4s ease-in-out;
}

.header-botoom {
    background: url(../../assets//22.jpg) fixed;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

}

.menu-icon {
    display: none;
}

/* hamberger */

@media (max-width: 768px) {
    .header-bottom-nav {
        justify-content: flex-start;
    }

    .header-bottom-nav ul {
        display: none;
    }

    .menu-icon {
        display: block;
        color: white;
        font-size: x-large;
    }

    .hamberger {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.308);
        padding: 25px;
        backdrop-filter: blur(10px);
    }

    .hamberger ul {
        list-style: none;
        padding: 12px 0;
    }

    .hamberger ul li {
        padding: 5px;
    }

    .hamberger ul li a {
        text-decoration: none;
        list-style: none;
        color: white;
    }

    .address {
        font-size: 12px;
    }

    .ak-logo {
        height: 45px;
    }
}